<div class="container">
  <h3>TODO LIST</h3>
  <div class="cards">
    <div class="card" *ngFor="let task of getTasks()" [ngClass]="{'green': task.done}">
      <ng-container *ngIf="task.is_editing; else labelState">
        <div class="title">#{{task.priority}}
          <input type="text" class="form-control" [(ngModel)]="task.title" />
        </div>
      </ng-container>
      <ng-template #labelState>
        <div class="title">#{{task.priority}} - {{task.title}}</div>
      </ng-template>
      <div class="actions">
        <button class="btn btn-primary" *ngIf="!task.done; else undo_done" (click)="toggleTaskDone(task)">
          <i class="fa fa-check"></i>&nbsp;&nbsp;Mark as done
        </button>
        <ng-template #undo_done>
          <button class="btn btn-primary" (click)="toggleTaskDone(task)">
            <i class="fa fa-times"></i>&nbsp;&nbsp;Mark as undone
          </button>
        </ng-template>


        <button class="btn btn-secondary" (click)="toggleEditItem(task)" *ngIf="!task.is_editing; else closeEdit">
          <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;&nbsp;
          Edit
        </button>
        <ng-template #closeEdit>
          <button class="btn btn-secondary" (click)="toggleEditItem(task)">
            <i class="fa fa-check" aria-hidden="true"></i>&nbsp;&nbsp;
            Close Edit
          </button>
        </ng-template>

<!--        <button class="btn btn-light" (click)="task.priority = task.priority - 1 " *ngIf="task.priority>=0">-->
<!--          <i class="fa fa-arrow-up"></i>-->
<!--        </button>-->
<!--        <button class="btn btn-light" (click)="task.priority = task.priority + 1" *ngIf="task.priority<=tasks.length">-->
<!--          <i class="fa fa-arrow-down"></i>-->
<!--        </button>-->

        <button class="btn btn-danger" (click)="deleteTask(task)">
          <i class="fa fa-trash"></i>&nbsp;&nbsp;
          Delete
        </button>
      </div>
    </div>
    <div class="card">
      <input type="text" class="form-control" placeholder="Add a new task" [(ngModel)]="newTask.title" />
      <div class="actions">
        <i class="fa fa-plus" (click)="addNewTask()"></i>
      </div>
    </div>
  </div>
</div>
